<section class="banner {{ banner.modifiers }}">
    <div class="content">
        <header>
            <h2>{{ banner.title }}</h2>
            <p>{{ banner.subtitle }}</p>
        </header>
        <p class="major">{{ banner.content }}</p>
        <ul class="actions stacked">
            <li><a href="#post_0" class="button big wide smooth-scroll-middle">{{ banner.action-text }}</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="images/banner.jpg" alt="" />
    </div>
</section>