<section class="banner {{ section.modifiers }}">
    <div class="content">
        <h1>{{ section.title }}</h1>
        <p class="major">{{ section.subtitle }}</p>
        <p> {{ section.content }}</p>
        {% if section.button_link %}
            <ul class="actions stacked">
                <li><a href="{{ section.button_link }}" class="button {{section.button_options}}">{{ section.button_text }}</a></li>
            </ul>
        {% endif %}
    </div>
    <div class="image">
        <img src="images/{{ section.image }}" alt="{{ section.image_alt }}" />
    </div>
</section>