<!-- Gallery -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <p>{{ section.content }}</p>
        {% if section.button_link %}
        <ul class="actions stacked">
            <li><a href="{{ section.button_link }}" class="button {{section.button_options}}">{{ section.button_text }}</a></li>
        </ul>
    {% endif %}
    </div>

    <!-- Gallery -->
        <div class="gallery {{section.modifiers}}">

            {% for image in site.gallery %}
                {% if section.gallery == image.gallery %}
                    {% include image.html %}
                {% endif %}
            {% endfor %}
            
        </div>

</section>
