<!-- Gallery -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <p>{{ element.content }}</p>
        {% if element.button_link %}
            <ul class="actions stacked">
                <li><a href="{{ element.button_link }}" class="button {{ element.button_options }}">{{ element.button_text }}</a></li>
            </ul>
        {% endif %}
    </div>

    <!-- Gallery -->
        <div class="gallery {{element.modifiers}}">

            {% for image in site.gallery %}
                {% if element.gallery == image.gallery %}
                    {% include image.html %}
                {% endif %}
            {% endfor %}
            
        </div>

</section>
