<section class="wrapper style1 align-center">
    <div class="inner">
        <p>{{ element.content }}</p>
        {% if element.button_link %}
            <ul class="actions stacked">
                <li><a href="{{ element.button_link }}" class="button {{element.button_options}}">{{ element.button_text }}</a></li>
            </ul>
        {% endif %} 
        <div class="items {{ element.modifiers }}">
            {% for item in site.items %}
                {% if element.items == item.items %}
                    {% include item.html %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
